header {
    position: relative;
    border-bottom: 1px solid black;
}

.blog_pages {
	text-align: center;
	justify-content: center;
	margin-bottom: 5rem;
}

.blog_pages a {
	font-size: 2rem;
	margin: 2rem;
}

.post {
    border: 1px solid black;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	height: 22rem;
	margin-bottom: 2rem;
}

.post_img img {
	border-radius: 20px;
	margin-top: 1rem;
	width: 100%;
	height: auto;
}

.post h3 {
	margin-top: 1rem;
}

.post p {
	margin-top: 1rem;
}

.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
    border-radius: 100%;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}