header {
    position: relative;
    border-bottom: 1px solid black;
}

@media screen and (max-width:800px) {

	.blog_pages div{
		margin-bottom: 4rem;
	}

	.post_row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.blog_pages {
	text-align: center;
	justify-content: center;
	margin-bottom: 5rem;
}

.blog_pages a {
	padding: 1rem;
	border-radius: 30px;
	background-color:#61460F ;
	color: white ;
	text-decoration: none;
	font-size: 2rem;
	margin: 2rem;
}

.blog_pages a:hover {
	color: #A69B03;
}

.post_row {
	justify-content: center;
}

.post:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.post {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	width: 20rem;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	height: 22.18rem;
	margin-bottom: 2rem;
	background-color: #E7F2D5;
	font-family: 'Quicksand', sans-serif;
}

.post_img img {
	border-radius: 20px;
	margin-top: 1rem;
	width: 100%;
	height: 12rem;
}

.post h3 {
	margin-top: 1rem;
}

.post p {
	margin-top: 1rem;
	margin-bottom: 2rem;
}