* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    border-bottom: 1px solid black;
}

textarea {
    width: 20rem;
}

.contact_info {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.contact_info h3{
    margin-bottom: 3rem;
}

.map {
    margin-top: 3rem;
    margin-bottom: 15rem;
    height: 30rem;
    width: 100%;
}

.map iframe {
    width: 100%;
}

.map h4 {
    text-align: center;
    font-size: 2rem;
}

.form button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 1rem;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10rem;
    will-change: transform;
  }
  
  .form button:disabled {
    pointer-events: none;
  }
  
  .form button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .form button:active {
    box-shadow: none;
    transform: translateY(0);
  }