@media screen and (max-width:800px) {


    .map {
        margin-bottom: 0;
    }
}

@media screen and (min-width:800px) {


    .map {
        margin-bottom: 10rem;
    }
}

header {
    position: relative;
    border-bottom: 1px solid black;
}

textarea {
    width: 20rem;
}

.contact_info {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.contact_info h3 {
    margin-bottom: 3rem;
    font-family: 'Quicksand', sans-serif;
}

h4 {
    font-family: 'Quicksand', sans-serif;
}

.contact_info p {
    font-family: 'Quicksand', sans-serif;
}

.input_box label {
    font-family: 'Quicksand', sans-serif;
    display: block;
}

.input_box input,
textarea {
    border-radius: 30px;
}

.map {
    margin-top: 3rem;
    height: 30rem;
    width: 100%;
}

.map iframe {
    width: 100%;
}

.map h4 {
    text-align: center;
    font-size: 2rem;
}