header {
    z-index: 99999999;
    position: fixed;
    width: 100%;
	border-radius: 0 0 70% 85% / 30%;
    background-color: black, 0.5;
}

#header_icon {
    display: flex;
    align-items: center;
}

#header_icon img {
    width: 10rem;
}

header div div {
    align-items: center;
}

header ul {
    list-style: none;
}

header ul {
    display: block;
    text-align: center;
}

header ul li {
    display: inline-block;
    font-weight: bold;
    margin-left: 5rem;
}

header ul li a {
    text-decoration: none;
    color: #FAF5E9;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

#search_block {
    float: right;
    display: flex;
    margin-right: 1rem;
}

#search_block img {
    float: left;
}

#search_block input {
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 5rem;
}