/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#video_pattern {
    background: #fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 9999999;
}

#header_icon {
    display: flex;
}

header div div {
    align-items: center;
}

header ul {
    list-style: none;
}

header ul {
    display: block;
    text-align: center;
}

header ul li {
    display: inline-block;
    font-weight: bold;
    margin-left: 5rem;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

#search_block {
    float: right;
    display: flex;
    margin-right: 1rem;
}

#search_block img {
    float: left;
}

#search_block input {
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 5rem;
}

/* Section_1 */

#section_1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'DM Serif Display', serif;
}

#main_menu {
    text-align: center;
    position: absolute;
    bottom: 10px;
}

#main_menu div {
    justify-content: center;
}

#main_menu div div {
    display: flex;
    margin: 1rem;
    width: 25rem;
    height: 7.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: url(/img/background/front_products_btn.jpg);
}

#main_menu div div img {
    align-self: center;
    height: 100%;
}

#main_menu div div h2 {
    align-self: center;
    font-size: 3rem;
    margin-left: 2rem;
}

/* Section_2 */

#section_2 {
    background: linear-gradient(90deg, rgba(179,242,189,1) 0%, rgba(182,223,158,1) 50%, rgba(188,252,69,1) 100%);
    height: 100vh;
    width: 100%;
}

#section_2 h1 {
    margin: 0;
    padding-top: 8rem;
    text-align: center;
    font-size: 3.5rem;
}

#section_2 h2 {
    margin-top: 5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.front_product {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 25rem;
}

.front_product div:first-child {
    height: auto;
    width: 10.625rem;
    text-align: center;
}

.front_product img {
    width: 100%;
}

.front_product div {
    margin: 2rem;
}

.front_product div:nth-child(2) {
    text-align: center;
    border: 1px solid black;
}

.front_product h3 {
    font-size: 2rem;
}

.front_product div:nth-child(2) * {
    margin-bottom: 2.5rem;
}