main {
    font-family: 'Quicksand', sans-serif;
    color: #23201B;
}

.lateral_img {
    width: 75%;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.line_header {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.text_content {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.vl {
    border-left: 1px solid black;
}

.row {
    margin:0;
}

.line_header_icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-3 {
    padding-top: 3rem;
}