* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    border-bottom: 1px solid black;
}

/* Clase para centrar elementos */
.center {    
    display: flex;
    align-items: center;
    justify-content: center;
}



main {
    height: 100vh;
    border: 1px solid red;
    display: flex;
}

main section:first-child {
    margin: auto;
    width: 60rem;
    border: 1px solid green;
}

#imagen_decorativa {
    margin: 0 auto;
    align-self: center;
    border: 1px solid yellow;
    height: 45rem;
    background-image: url(/img/misc/login.jpg);
    background-size: cover;
}

.form {
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    justify-content: center;
    border: 1px solid saddlebrown;
}


.form h2 {
    text-align: center;
}


.txt_input_label {
    margin-top: 3.5rem;
    font-size: 1.5rem;
    display: block;
}

.form label+input {
    display: block;
    width: 20rem;
    height: 2rem;
}

input[type=checkbox]{
    margin-top: 3rem;
    display: inline-block;

}

.form p {
    margin-top: 1rem;
}

.form form+p {
    margin-top: 3rem;
}

.form button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 1rem;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
  will-change: transform;
}

.form button:disabled {
  pointer-events: none;
}

.form button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.form button:active {
  box-shadow: none;
  transform: translateY(0);
}