header {
    position: relative;
    border-bottom: 1px solid black;
}

@media screen and (max-width:800px) {
    #imagen_decorativa {
        display: none;
    }
}

main {
    display: flex;
}

main section:first-child {
    margin: auto;
    width: 60rem;
}

#imagen_decorativa {
    margin: 0 auto;
    align-self: center;
    height: 30rem;
    background-image: url(/img/misc/login.jpg);
    background-size: cover;
    border-radius: 10px;
    
}

.form {
    display: flex;
    width: 100%;
    margin: auto;
}

.form label, p {
    font-family: 'Quicksand', sans-serif;
}

.form h2 {
    text-align: center;
}

.form input {
    border-radius: 30px;
}

input[type=checkbox]{
    margin-top: 2rem;
    display: inline-block;
}

.form p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form a {
    text-decoration: none;
    color: blue;
}

.form button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 1rem;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
  will-change: transform;
}

.form button:disabled {
  pointer-events: none;
}

.form button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.form button:active {
  box-shadow: none;
  transform: translateY(0);
}