.list {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 13rem;
    font-size: 1.1rem;
}

.price {
    color: #F5F5F5;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
}

main button {
    background-color: #a69b03;
    margin-bottom: 1rem;
}